*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #5093b1;
    --secondary-color: #e77e6c;
    --white: whitesmoke;
    --black: #0d0c0c;
}
body {
    position: relative;
    background-color: var(--white);
    margin-top: 15vh;
    font-family: "Parkinsans", sans-serif;
}

h1, h2, h3, p, button, li {

    color: var(--black);
}
h1{
    margin-top: 30px;
    text-align: center;
}
h2{
    text-align: center;
    letter-spacing: 8px;
    margin-bottom: 5px;
    font-size: 28px;
    color: var(--black);
}
p{
    font-size: 18px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


/* ============================ HEADER ================== */
/* ============================ HEADER ================== */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    padding: 20px;
    background-color: var(--primary-color);
    align-items: center;
    z-index: 1000;
}

header .nav{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    text-align: center;
    justify-items: center;

}
header .nav ul {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    list-style: none;
    color: var(--white);
    padding: 15px;
}
header .nav ul li:hover{
   border-bottom: 2px solid whitesmoke;

}
header .nav ul a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
}

header .title-logo {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Barrio", system-ui;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header .title-logo h1 {
    color: var(--white);
    font-size: 24px;
}
header .title-logo h2 {
    color: var(--white);
    font-size: 24px;
}
header .account {
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .account .account-button{
    display: flex;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: #87d387;
}

/* ============================ MAIN ================== */
/* ============================ MAIN ================== */

/* ======= SECCION 1 =============
============ INICIO ==========*/

.inicio {
    position: relative; 
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.inicio img {
    position: absolute;
    width: 100%;
    height: 100%; 
    object-fit: cover;

    z-index: -1;
}

.inicio .filtro {
    position: relative; 
    top: 50px;
    width: 30%;
    height: 35vh;
    margin: auto; 
    border-radius: 20px;
    background-color: #5093b1;

    display: grid;
    align-items: center;
    grid-template-rows: 20% 55% 25%;

    z-index: 1;
}

.filtro p {
    color: var(--white);
    border-bottom: 1px solid aliceblue;
    text-align: center;
    padding: 5px;
    font-size: 28px;
}
.filtro-container {
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.filtro-botones{
    display: flex; 
    height: 100px; 
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
    border: 2px solid aliceblue;

}
.filtro-radio {
    display: none;
}
.filtro-botones .filtro-btn-gato,
.filtro-botones .filtro-btn-perro
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filtro-radio:checked + .filtro-btn {
    background-color: aliceblue;
    height: 100%;
    width: 100%;
    transition: all 0.8s ease-in-out;
}

.filtro-btn{
    grid-row: 3 / 4;
    width: 92%;
    height: 35px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;

    
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #3762cc;

    text-align: center;
}
.btn-buscar{
    background-color: aliceblue;
}



/* ======= SECCION 2 =============
=========== ADOPTAR ==========*/

.mascotas-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    gap: 20px;
}
.mascotas-lista {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.mascota {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: transform 0.2s;
}

.mascota img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 2px solid var(--black);
}

.mascota img:hover {
    border: 3px solid var(--secondary-color);
    transform: translateY(-3px);
}

/* ========== SECCION 3 =============
======== MODAL INFORMACION ==========*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 1000;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content{
    width: 65%;
    height: auto;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 30px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.modal-cerrar{
    margin-left: 30px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    justify-self: flex-start;

}

.info-mascota{
    grid-row: 2 / 3;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

}
.info-mascota div {
    display: flex;
    gap: 20px;
}
.info-mascota div img {
    width: 50%;
    height: auto;
    padding-left: 20px;
    border-radius: 30px;
}

.modal-info{
    width: 50%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    gap: 20px;
}
.modal-info li {
    align-self: flex-start;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
}
.modal-info li:first-child {
    align-self: center;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 50px;
    letter-spacing: 10px;
    border-bottom: 2px solid var(--black);
}
.modal-adoptar{
    width: 30%;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: var(--white);
    border: 2px solid var(--black);
    text-align: center;
    font-size: 20px;
}
.modal-adoptar:hover{
    background-color: var(--secondary-color);
    border: var(--secondary-color);
    color: var(--white);
}
.modal-adoptar:focus{
    background-color: #6bc76b;
    border: #87d387;
    color: var(--white);
}

/* ======= SECCION 4 =============
======== CARRITO ==========*/

/* Movimiento de carrito */
@keyframes shake {
    0% { transform: rotate(0); }
    10% { transform: rotate(-5deg); }
    30% { transform: rotate(-5deg); }
    40% { transform: rotate(5deg); }
    70% { transform: rotate(-5deg); }
    80% { transform: rotate(5deg); }
    90% { transform: rotate(-5deg); }
    100% { transform: rotate(0); }
}

.carrito{
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carrito span{
    width: 150px;
    height: 150px;
    padding-right: 50%;
    background-image: url('./img/iconos/btn-carrito.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    z-index: 2;
}

.carrito span:hover{
    animation: shake 0.5s ease-in-out;
    animation-iteration-count: 1;
}

.carrito p {
    position: absolute;
    font-size: 20px;
    font-weight: 500;

    left: 65%;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 0;
}

.carrito:hover p {
    width: 205px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    border-radius: 20px 0 0 20px;
    color: var(--white);
    text-align: center;
    left: 60%; 
    opacity: 1; 
}

/* lista de mascotas del carrito */
.modal-content-ad {
    height: 85vh;
    max-height: 85vh;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

}
.modal-content-ad span {
    margin-left: 30px;
    align-self: flex-start;
    text-align: center;

}
.modal-content-ad div {
    width: 100%;
    display: flex;


}
.lista-ad-container{
    width: 50%; 
    max-height: 40vh; 
    overflow-y: scroll; 
    padding: 15px;
    margin-bottom: 20px; 
    list-style: none;
    gap: 20px; 
    background-color: #f8f8f8; 
    border-radius: 8px;

}
.lista-ad-container li{
    display: flex;
    padding-bottom: 15px;
}
.lista-ad-container li div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lista-ad-container li div h3{
    font-size: 22px;
}
.lista-ad-container li div a{
    font-size: 16px;
    color: #b44c1c;
}
.lista-ad img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

/* formulario adoptante */
.modal-content-ad div form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
    gap: 30px;

}
.modal-content-ad div form label{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 90%;
}
.modal-content-ad div form label input{
    text-align: left;
    width: 250px;
}
.terminos {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
    padding: 10px;
    margin-top: 20px;
    overflow: hidden;
}

/* ======= SECCION 5 =============
============ FAQS ==========*/
.faqs {
    background-color: #e9e9e9;
    margin: 80px auto;
    padding: 50px;
    width: 100%;
    font-family: Arial, sans-serif;
}
.faqs h2 {
    margin-bottom: 20px;
}

details {
    width: 80%;
    margin: 15px auto;
    border: 1px solid #7ad3e6;
    border-radius: 10px;
    padding: 15px;

}

summary {
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    color: var(--black)
}

details[open] {
    background-color: #7ad3e6;
    align-self: center;
}

details p {
    margin: 10px 0 0;
    color: var(--black);
}

/* ======= SECCION 6 =============
=========== GALERIA ==========*/
.galeria {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 10vh 80vh;
    justify-items: center;
    align-content: center;
    overflow: hidden;
}
.galeria h2 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.galeria-texto{
    padding: 0 25px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;

    align-items: center;
}
.galeria-texto h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 30px;
    border-bottom: 1px solid var(--primary-color);
}
.galeria-texto p{
    margin-bottom: 16px;
}
.galeria-texto p span{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-color)
}
/* Estilo básico para el Slider*/
.galeria-carrusel{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    position: relative; 
}
 .galeria-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
 }
 
 .galeria-item {
    min-width: 100%;
    object-fit: cover;

 }
.galeria-item img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: COVER;
    display: block;
}
 /* Navegación del Slider */
 .galeria-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none; 
}

.nav-button {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none; 
    border-radius: 50%; 
    cursor: pointer;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-button:hover {
    background-color: var(--primary-color);
    }
.prev-button {
    background-image: url('./img/iconos/left-arrow-direction-svgrepo-com.svg');

}

.next-button {
    background-image: url('./img/iconos/right-arrow-upload-down-svgrepo-com.svg');
}


/* ======= SECCION 7 =============
======== SOBRE NOSOTROS ==========*/

.sobre-nosotros{
    background-color: #e9e9e9;
    margin-top: 80px;
    height: auto;
    display: grid;
    padding: 0 30px 0 30px;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50px 500px;
}
.sobre-nosotros h2{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.sobre-nosotros .redes{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;

    flex-direction: column;
    align-items: right;
}
.sobre-nosotros .redes li {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sobre-nosotros .redes li a:hover {
    animation: shake 0.8s ease-in-out;
}
.sobre-nosotros .redes li a{
    text-align: center;
    color: var(--black);
}
.sobre-nosotros .organizacion{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: right;
}
.sobre-nosotros .organizacion img{
    height: 60%;
    width: 90%;
    border-radius: 15px;
}
.sobre-nosotros .organizacion div{

    display: flex;
    flex-direction: column;
    align-items: right;
}
.sobre-nosotros .organizacion div h3{
    font-size: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 5px;
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}
.sobre-nosotros .organizacion div p{
    margin-bottom: 10px;
}

/* ============================ FOOTER ================== */
/* ============================ FOOTER ================== */

footer{
    margin-top: 80px;
    width: 100%;
    height: 50px;
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
footer p {
    font-size: 20px;
    font-weight: 500;
}

/* ============================ MEDIA QUERIES ================== */
/* ============================ MEDIA QUERIES ================== */

@media screen and (max-width: 768px) {
    .mascota-img{
        width: 65px;
        height: 65px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 10px;
    }
    .checkbox{
        width: 10px;
        height: 10px;
    }
}